@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Zoom in */
    }
    100% {
        transform: scale(1); /* Zoom out */
    }
}

.animate-zoom {
    animation: zoom 2s ease-in-out infinite;
}

/* In your stylesheet (e.g., styles.css) */
.css-ruithe-MuiAreaElement-root {
  fill: #f0f7ec; /* Set your custom fill color */
}

.echarts-tooltip {
    background-color: #6DB33FD9 !important;
    color: #bfe7a4 !important;
    font-size: 14px !important;
    padding: 8px !important;
    border-radius: 8px !important;
}